.mrp-table-title{
    width: 100%;
}
.mrp-table-title  td {
    border: white;
}
.mrp-infos {
    border: 2px solid black;
    border-radius: 20px;
}
.mrp-infos td{
    height: 30px
}
.mrp-title{
    color: black;
    font-weight: 700;
    text-decoration: underline;
}
.operation-title{
    width: 100%;
    border-radius: 5px;
    padding-left: 15px;
    text-transform: uppercase;
    background: #080a96;
    color: white;
}
.sub-title{
    font-style: normal;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;

}
.mrp-table {
    border : 1px solid #dee2e6;
    width: 100%;
}
.mrp-table th, td{
    height: 30px;
    width: 85px;
    padding-left: 5px;

}
.mrp-table span{
    padding-left: 2px
}
.mrp-background{
    background: aliceblue;
    text-align: center;
    border: 1px solid #dee2e6;

}
