.invoice-header{
    font-size: 26px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 10px;
    font-family: "Calibri";

}
div > span {
    font-family: "Calibri";
}
.invoice-title{
    font-weight: bold;
}
.invoice-table {
    width: 100%;
}

.table-address * {
    vertical-align: top;
    font-family: "Calibri";
}

.invoice-table * {
    vertical-align: top;
    font-family: "Calibri";
}

.invoice-table > thead > tr > th{
    height: 35px;
    text-align: center;
    border: 1px solid black;
}
.invoice-body {
    border-bottom: 1px solid black;
}
.invoice-body > tr > td{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.invoice-total > tr > td.allow_border{
    border: 1px solid black;
}
.conform-table {
    width: 100%;
}
.conform-table * {
    vertical-align: top;
    font-family: "Calibri";
}
.conform-table > thead > tr > th, .conform-table > tbody > tr > td{
    text-align: center;
    border: 1px solid black;
}
.conform-table > tbody > tr > td.check-conform{
    width: 5%;
}